name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        contents: read  # Erlaubt das Auschecken des Codes
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and Test with Maven
      # verify führt alle Tests aus und prüft das Package
      run: mvn -B clean verify

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: json-logic-java-jar
        path: target/*.jar